
      

        <%- include layouts/header.ejs%>
        <% if(result!= '') {%>
            <p><%= result%></p>
        <% } %> 
            <table>
            <tr>
                <th>Name</th>
                <th>Quantity</th>
                <th>Amount</th>
                <th colspan="2">Actions</th>
            </tr>
            <% data.forEach(function(item) {%>
            <tr>
                <td><%= item.name%></td>
                <td><%= item.qty%></td>
                <td><%= item.amount%></td>
                <td>
                    <form action="/delete" method="POST">
                        <button type="submit" name="delete" value="<%= item.id%>">Delete</button>
                    </form>
                </td>
                <td>
                    <form action="/openupdate" method="POST">
                        <button type="submit" name="update" value="<%= item.id%>">Update</button>
                    </form>
                </td>
            </tr>
            <% })%>
          </table>
       <button type="button"><a href="/add" style="text-decoration: none">Add</a></button>
          
       <%- include layouts/footer.ejs%>